[submodule "CSE-2100/RAVEN_Downloader"]
	path = CSE-2100/RAVEN_Downloader
	url = git@github.com:HackerShohag/RAVEN_Downloader.git
[submodule "CSE-2102/lab05/matplotplusplus"]
	path = CSE-2102/lab05/matplotplusplus
	url = git@github.com:alandefreitas/matplotplusplus.git
[submodule "EDGE-Projects"]
	path = EDGE-Projects
	url = git@github.com:HackerShohag/EDGE-Project.git
[submodule "CSE-3202/learning-xinu"]
	path = CSE-3202/learning-xinu
	url = git@github.com:HackerShohag/learning-xinu.git
